autostart
BraveSoftware
Code
dconf
discord
eog
gtk-2.0
gtk-3.0
lutris
Microsoft
Microsoft Teams - Preview
nemo
neofetch
nitrogen
onlyoffice
pulse
spotify
default.target.wants
teams
VirtualBox
whatsapp-nativefier-d40211
yay
pavucontrol.ini
QtProject.conf