autostart
BlueMail
BraveSoftware
Code
cef_user_data
dconf
discord
eog
evolution
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
htop
libreoffice
lutris
Microsoft
Microsoft Teams - Preview
nemo
obs-studio
org.keshavnrj.ubuntu
nitrogen
onlyoffice
pulse
Sandbox Interactive GmbH
spotify
default.target.wants
teams
unity3d
VirtualBox
whatsapp-nativefier-d40211
yay
vlc
pavucontrol.ini
QtProject.conf
xed
