autostart
BlueMail
BraveSoftware
Code
dconf
discord
eog
google-chrome
gtk-2.0
gtk-3.0
htop
libreoffice
lutris
Microsoft
Microsoft Teams - Preview
nemo
obs-studio
nitrogen
onlyoffice
pulse
spotify
default.target.wants
teams
VirtualBox
whatsapp-nativefier-d40211
yay
vlc
pavucontrol.ini
QtProject.conf
xed
